<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Manicures"
>
  <image imageURL="images/e1.jpg"
		thumbURL="thumbs/e1.jpg"
		linkURL="images/e1.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>

  <image imageURL="images/e2.jpg"
		thumbURL="thumbs/e2.jpg"
		linkURL="images/e2.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>

  <image imageURL="images/e3.jpg"
		thumbURL="thumbs/e3.jpg"
		linkURL="images/e3.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>

  <image imageURL="images/e4.jpg"
		thumbURL="thumbs/e4.jpg"
		linkURL="images/e4.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e5.jpg"
		thumbURL="thumbs/e5.jpg"
		linkURL="images/e5.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e6.jpg"
		thumbURL="thumbs/e6.jpg"
		linkURL="images/e6.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e7.jpg"
		thumbURL="thumbs/e7.jpg"
		linkURL="images/e7.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e8.jpg"
		thumbURL="thumbs/e8.jpg"
		linkURL="images/e8.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e9.jpg"
		thumbURL="thumbs/e9.jpg"
		linkURL="images/e9.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e10.jpg"
		thumbURL="thumbs/e10.jpg"
		linkURL="images/e10.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e11.jpg"
		thumbURL="thumbs/e11.jpg"
		linkURL="images/e11.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e12.jpg"
		thumbURL="thumbs/e12.jpg"
		linkURL="images/e12.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e13.jpg"
		thumbURL="thumbs/e13.jpg"
		linkURL="images/e13.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e14.jpg"
		thumbURL="thumbs/e14.jpg"
		linkURL="images/e14.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e15.jpg"
		thumbURL="thumbs/e15.jpg"
		linkURL="images/e15.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/e16.jpg"
		thumbURL="thumbs/e16.jpg"
		linkURL="images/e16.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/main.jpg"
		thumbURL="thumbs/main.jpg"
		linkURL="images/main.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>

  <image imageURL="images/1.jpg"
		thumbURL="thumbs/1.jpg"
		linkURL="images/1.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>

  <image imageURL="images/2.jpg"
		thumbURL="thumbs/2.jpg"
		linkURL="images/2.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>

  <image imageURL="images/3.jpg"
		thumbURL="thumbs/3.jpg"
		linkURL="images/3.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>

  <image imageURL="images/4.jpg"
		thumbURL="thumbs/4.jpg"
		linkURL="images/4.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/5.jpg"
		thumbURL="thumbs/5.jpg"
		linkURL="images/5.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/6.jpg"
		thumbURL="thumbs/6.jpg"
		linkURL="images/6.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/7.jpg"
		thumbURL="thumbs/7.jpg"
		linkURL="images/7.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/8.jpg"
		thumbURL="thumbs/8.jpg"
		linkURL="images/8.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/9.jpg"
		thumbURL="thumbs/9.jpg"
		linkURL="images/9.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/10.jpg"
		thumbURL="thumbs/10.jpg"
		linkURL="images/10.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/11.jpg"
		thumbURL="thumbs/11.jpg"
		linkURL="images/11.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/12.jpg"
		thumbURL="thumbs/12.jpg"
		linkURL="images/12.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/13.jpg"
		thumbURL="thumbs/13.jpg"
		linkURL="images/13.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/14.jpg"
		thumbURL="thumbs/14.jpg"
		linkURL="images/14.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/15.jpg"
		thumbURL="thumbs/15.jpg"
		linkURL="images/15.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/16.jpg"
		thumbURL="thumbs/16.jpg"
		linkURL="images/16.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/17.jpg"
		thumbURL="thumbs/17.jpg"
		linkURL="images/17.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/18.jpg"
		thumbURL="thumbs/18.jpg"
		linkURL="images/18.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/19.jpg"
		thumbURL="thumbs/19.jpg"
		linkURL="images/19.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/20.jpg"
		thumbURL="thumbs/20.jpg"
		linkURL="images/20.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/21.jpg"
		thumbURL="thumbs/21.jpg"
		linkURL="images/21.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/22.jpg"
		thumbURL="thumbs/22.jpg"
		linkURL="images/22.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/23.jpg"
		thumbURL="thumbs/23.jpg"
		linkURL="images/23.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/24.jpg"
		thumbURL="thumbs/24.jpg"
		linkURL="images/24.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/25.jpg"
		thumbURL="thumbs/25.jpg"
		linkURL="images/25.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/26.jpg"
		thumbURL="thumbs/26.jpg"
		linkURL="images/26.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
  <image imageURL="images/27.jpg"
		thumbURL="thumbs/27.jpg"
		linkURL="images/27.jpg"
		linkTarget="_blank">
		<title></title>
		<caption></caption>
  </image>
  
</juiceboxgallery>